.container #tweets-container .tweet-article {
  margin: 1em 1em 1em 1em;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.container #tweets-container {
  opacity: 0.7;
  margin: 1em 1em 0 1em;
  background-color: #ffffff;
}

.container #tweets-container:hover {
  opacity: 1;
}

#tweets-container .tweet-article header {
  background: #eee;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 5px;
  height: 70px;
  display: flex;
}

.container #tweets-container .tweet-article header img {
  margin-top: 10px;
  border-radius: 5px;
  flex: 0 0 auto;
  height: 50px;
  width: 50px;
}

.container #tweets-container .tweet-article header h2 {
  margin: 10px 0 auto 10px;
  flex: 1 1 auto;
}

.container #tweets-container .tweet-article header h4 {
  flex: 0 0 auto;
  text-align: right;
}

.container #tweets-container .tweet-article p {
  padding-left: 10px;
  padding-right: 10px;
}

#tweets-container .tweet-article footer {
  border-top: solid darkgrey 0.5px;
  line-height: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.container #tweets-container .tweet-article footer .timestamp {
  flex: 1 1 auto;
}

.container #tweets-container .tweet-article footer .controls {
  opacity: 0;
  flex: 0 0 60px;
  transition: opacity 300ms ease-in-out;
}

.container #tweets-container .tweet-article:hover footer .controls {
  opacity: 1;
  color: hotpink;
}




