
section {
  margin: 0 2em;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0 1em 30px 1em;
  background-color: #eee
}

.container .new-tweet h2 {
  border-bottom: solid black 1px;
  padding: auto 0;
  margin-top: 10px;
}

.container .new-tweet form span {
  float: right;
  padding-bottom: 5px;
  font-style: italic;
}


.container .new-tweet form input {
  float: left;
  margin-bottom: 10px;
}

.container .new-tweet form textarea {
  padding: 5px 5px;
  width: 100%;
}

body {
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}